{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Soft Sports</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/assets/img/favicon.png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Gp - v4.10.0
  * Template URL: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
<style>
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 250px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.center{
  margin: auto;
  width: 300px;
  padding: 10px;
}
</style>
<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="../coach_home">Sports Coach(coach)<span>.</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="../coach_home">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li class="dropdown"><a href="#"><span>Players</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
                    <li><a href="../register_player">Add Players</a></li>
                    <li><a href="../coach_view_player">View Players</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Schedule</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
                    <li><a href="../add_schedule">Add Schedule</a></li>
                    <li><a href="../coach_view_schedule">View Schedule</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Time Schedule</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
                    <li><a href="../add_time_schedule">Add Time Schedule</a></li>
                    <li><a href="../coach_view_time_schedule">View Time Schedule</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Game Plan</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
                    <li><a href="../upload_game_plan">Add Game Plan</a></li>
                    <li><a href="../coach_view_game_plan">View Game Plans</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Videos</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
                    <li><a href="../upload_video">Add Video</a></li>
                    <li><a href="../coach_view_video">View Video</a></li>
            </ul>
          </li>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="#logout" class="get-started-btn scrollto">Logout</a>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
<!-- End Hero -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>Sports Coach<span>.</span></h1>
          <h2>Sports Coaching  Website for Players</h2>
        </div>
      </div>



    </div>
  </section><!-- End Hero -->
    {% block content %}


      {% endblock %}
  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="../static/assets/img/img.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
            <h3>ABOUT SPORTS COACHING APPLICATION.</h3>
            <p class="fst-italic">
              Assist each player in identifying their role on the team and why they are important. Merge conditioning and fitness into practice drills whenever possible. Create a safe learning environment for players, both physically and emotionally. Assist each player in identifying their role on the team and why they are important. Merge conditioning and fitness into practice drills whenever possible. Create a safe learning environment for players, both physically and emotionally.
            </p>
            <p>
              Assist each player in identifying their role on the team and why they are important. Merge conditioning and fitness into practice drills whenever possible. Create a safe learning environment for players, both physically and emotionally. Assist each player in identifying their role on the team and why they are important. Merge conditioning and fitness into practice drills whenever possible. Create a safe learning environment for players, both physically and emotionally.
            </p>
            <p>
              Assist each player in identifying their role on the team and why they are important. Merge conditioning and fitness into practice drills whenever possible. Create a safe learning environment for players, both physically and emotionally. Assist each player in identifying their role on the team and why they are important. Merge conditioning and fitness into practice drills whenever possible. Create a safe learning environment for players, both physically and emotionally.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i><b>OUR MISSION</b> .<p>Model respectful behaviour and problem-solving.Model respectful behaviour and problem-solving</p></li>
              <li><i class="ri-check-double-line"></i><b>OBJECTIVES</b>. <p>Assist each player in identifying their role on the team and why they are important.</p>
                                                                        <p>Merge conditioning and fitness into practice drills whenever possible.</p>
                                                                        <p>Create a safe learning environment for players, both physically and emotionally. Merge conditioning and fitness into practice drills whenever possible.</p>
                                                                        <p>Merge conditioning and fitness into practice drills whenever possible.</p>
                                                                        <p>Create a safe learning environment for players, both physically and emotionally</p>
                                                                        <p>Assist each player in identifying their role on the team and why they are important.</p></li>
            </ul>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->


         <!-- ======= Clients Section ======= -->

    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="zoom-in">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>Sports Coaching Benefits</h3>

                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Learn effective ways to persuade, offer constructive criticism, and provide advice. Help others improve their performance and build their confidence.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                <h3>Sports Coaching</h3>

                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Model community-building behaviour. Model respectful behaviour and problem-solving.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                <h3>Sports Coaching Aim</h3>

                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Assist each player in identifying their role on the team and why they are important. Merge conditioning and fitness into practice drills whenever possible. Create a safe learning environment for players, both physically and emotionally.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

<!-- End testimonial item -->
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->



  </main><!-- End #main -->
<section id="logout">
    <html>
<head>

    <script>

        function disableBackButton() {
            window.history.forward();
        }

    </script>
</head>
<body onunload="disableBackButton()" onload="disableBackButton()">
   <center> <h3 style="color:red;"> Are You Sure Want To  <a href="../login" style="color:#ffeb3b;font-size:30px"><b><u>LogOut</u></b></a> </h3></center>
</body>
</html>
</section>

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top" >
      <div class="container" style="width:70%; text-align:center;">
        <div class="row container" >

          <div class="col-xl-8 container">
            <div class="footer-info container">
              <h3>Sports Coach<span>.</span></h3>
              <p>
                SPORTS COACHING CLUB <br>
                NY 535022, USA<br><br>
                <strong>Phone:</strong> +0 0000 00000 00<br>
                <strong>Email:</strong> sportscoach.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>2023</span></strong>. All Rights Reserved
      </div>
      <div class="credits">

      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../static/assets/vendor/aos/aos.js"></script>
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/assets/js/main.js"></script>

</body>

</html>