
{% extends 'coach_header.html' %}
{% block content %}
<br>
<br>
<div class="col p-2 bg-info container">
  <h3>Viewing Game Plan</h3>
</div>
<br>
<div class="container">
  <table  class="table">
    <tr>
        <td >SL NO </td>
      <td>TITLE</td>
        <td>DESCRIPTION</td>
        <td colspan="2"></td>

    </tr>
{% for data in data %}
    <tr>
        <td>{{forloop.counter}}</td>
      <td>{{ data.1 }}</td>
      <td>{{ data.2 }}</td>
       <td><a href="../edit_game_plan/{{data.0}}">edit</a> </td>
      <td><a href="../delete_game_plan/{{data.0}}">delete</a> </td>
    </tr>
{% endfor %}
  </table>
</div>
{% endblock %}