
{% extends 'physios_header.html' %}
{% block content %}
<br>
<br>
<div class="col p-2 bg-info container">
  <h3>Viewing Fitness Details</h3>
</div>
<br>
<div class="container">
  <table  class="table">
        <form action="../fitness_details_edit" method="post" enctype="multipart/form-data" >
      {% csrf_token %}

    <tr>
      <th>NAME:</th>
        <td>{{data.1}}</td>
      </tr>
    <tr>
      <td >AGE:</td>
      <td><input type="number" value="{{data.3}}" name="age" style="opacity:0.6; width:250px; height:35px; " required ></td>
      <input type="hidden" value="{{data.0}}" name="id">
      <input type="hidden" value="{{data.1}}" name="name">
      </tr>
    <tr>
      <td >WEIGHT: </td>
      <td><input type="text" value="{{data.4}}"  name="weight" style="opacity:0.6; width:250px; height:35px; " required ></td>

      </tr>
    <tr>
      <td >HEIGHT:</td>
      <td><input type="text" value="{{data.5}}"  name="height" style="opacity:0.6; width:250px; height:35px; " required ></td>
    </tr>
    <tr>
      <td>RUNNING SPEED:</td>
      <td><input type="text"  value="{{data.6}}" name="running" style="opacity:0.6; width:250px; height:35px; " required ></td>
    </tr>
    <tr>
      <td>PUSHUP:</td>
      <td><input type="number" value="{{data.7}}"  name="pushup" style="opacity:0.6; width:250px; height:35px; " required ></td>
    </tr>
    <tr>
        <td>PULLUP:</td>
        <td><input type="number" value="{{data.8}}"  name="pullup" style="opacity:0.6; width:250px; height:35px; " required ></td>
    </tr>
    <tr>
      <td>MUSCLE PAIN:</td>
      <td><input type="text" value="{{data.9}}"  name="muscle" style="opacity:0.6; width:250px; height:35px; " required ></td>
    </tr>
    <tr>
      <td>STAMINA:</td>
      <td><input type="text" value="{{data.10}}"  name="stamina" style="opacity:0.6; width:250px; height:35px; " required ></td>
    </tr>
      <tr>
      <td>&nbsp;</td>
      <td><input name="Submit" type="submit" id="Submit" value="Add" ></td>
    </tr>
    </form>

  </table>
</div>
{% endblock %}