
{% extends 'admin_header.html' %}
{% block content %}
<br>
<br>
<div class="col p-2 bg-info container">
  <h3>Register Coach</h3>
</div>
<br>
<div class="container">
  <table class="table">
    <form action="../coach_register" method="post">
      {% csrf_token %}
    <tr>
      <td>COACH ID:</td>
      <td><input type="text" style="opacity:0.6; width:250px; height:35px; " name="id" required ></td>
    </tr>
    <tr>
      <td>NAME:</td>
      <td><input type="text" name="txtname"  style="opacity:0.6; width:250px; height:35px; "required ></td>
    </tr>
    <tr>
      <td>ADDRESS:</td>
      <td><textarea type="text" name="txtaddress" style="opacity:0.6; width:250px; " required ></textarea></td>
    </tr>
    <tr>
      <td>PHONE NUMBER:</td>
      <td><input type="text" name="txtphnum" style="opacity:0.6; width:250px; height:35px; " required ></td>
    </tr>
    <tr>
      <td>EMAIL:</td>
      <td><input type="text" name="txtemail" style="opacity:0.6; width:250px; height:35px; " required></td>
    </tr>
      <tr>
        <td>AGE:</td>
        <td><input type="text" name="txtage" style="opacity:0.6; width:250px; height:35px; " required></td>
      </tr>
    <tr>
      <td>PASSWORD:</td>
      <td><input name="txtpassword" type="txtpassword" style="opacity:0.6; width:250px; height:35px; " required></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input name="Submit" type="submit" id="Submit" value="Register" ></td>
    </tr>
    </form>
  </table>
</div>

{% endblock %}